.u-section-1 .u-sheet-1 {
  min-height: 500px;
}

.u-section-1 .u-cart-1 {
  width: 1140px;
  margin-top: 63px;
  margin-bottom: 60px;
  min-height: 375px;
}

.u-block-1bf3-94 {
  border-style: solid;
}

.u-section-1 .u-table-cell-5 {
  border-style: solid;
}

.u-section-1 .u-icon-1 {
  font-size: 1.5em;
  margin-right: 10px;
}

.u-section-1 .u-text-1 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-6 {
  border-style: solid;
}

.u-section-1 .u-table-cell-7 {
  border-style: solid;
}

.u-section-1 .u-product-quantity-1 {
  width: 100px;
}

.u-section-1 .u-table-cell-8 {
  border-style: solid;
}

.u-section-1 .u-table-cell-9 {
  border-style: solid;
}

.u-section-1 .u-icon-2 {
  font-size: 1.5em;
  margin-right: 10px;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-10 {
  border-style: solid;
}

.u-section-1 .u-table-cell-11 {
  border-style: solid;
}

.u-section-1 .u-product-quantity-2 {
  width: 100px;
}

.u-section-1 .u-table-cell-12 {
  border-style: solid;
}

.u-section-1 .u-table-cell-13 {
  border-style: solid;
}

.u-section-1 .u-icon-3 {
  font-size: 1.5em;
  margin-right: 10px;
}

.u-section-1 .u-text-3 {
  font-size: 1rem;
}

.u-section-1 .u-table-cell-14 {
  border-style: solid;
}

.u-section-1 .u-table-cell-15 {
  border-style: solid;
}

.u-section-1 .u-product-quantity-3 {
  width: 100px;
}

.u-section-1 .u-table-cell-16 {
  border-style: solid;
}

.u-section-1 .u-btn-1 {
  padding: 10px 14px;
}

.u-section-1 .u-btn-2 {
  background-image: none;
  border-style: none;
}

.u-section-1 .u-btn-3 {
  background-image: none;
  border-style: none;
}

.u-block-1bf3-90 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-17 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-19 {
  font-weight: 700;
}

.u-section-1 .u-table-cell-20 {
  font-weight: 700;
}

.u-section-1 .u-btn-4 {
  margin-top: 20px;
  background-image: none;
  border-style: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-cart-1 {
    width: 940px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-cart-1 {
    width: 720px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-cart-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-cart-1 {
    width: 340px;
  }
}